.App {
  // padding: 0 5%;
  // position: relative;
  // z-index: 10;

  &__header {
    padding: 40px 0 20px;
  }
  &__title {
    font-size: 3rem;
    color: #fff;
    text-align: left;
    font-weight: 400;
    padding: 10px 10px;
    margin: 0 auto 20px;
  }
}


.player-topo {
  padding: 0 5%;
  float: left;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent);
  h2 {
    color: #fff;
    text-transform: uppercase;
  }

  .button__back {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    background: rgba(33, 33, 33, 0.2);
    border-radius: 80px;
  }

  h3 {
    margin: 0;
    img {
      position: relative;
      top: 3px;
      margin-right: 10px;
      filter: invert(1);
    }
  }
}
.player-rodape {
  border-width: 5px;
  z-index: 902;
  position: fixed;
  background: linear-gradient(0deg, #282c34, transparent);
  width: 100%;
  bottom: 0;
  left: 0;
  height: auto;
  text-align: center;
  vertical-align: middle;
  padding: 40px 20px 20px;
  box-sizing: border-box;
  
  .button {
    margin: 0 10px;
    border: 0;
    cursor: pointer;
    background: transparent;
    width: 30px;
    padding: 0;

    img {
      width: 100%;
      height: auto;
      filter: invert(1);
      opacity: 0.8;
      transition: all .15s ease-in-out;
    }

    &:focus {
      outline: 0;
    }
    &:hover {
      img {
        opacity: 1;
      }
    }
  }

  .fLeft {
    float: left;
  }
  .fRight {
    float: right;
  }
}

.card {
  // overflow: scroll;
  &__group {
    // display: flex;
    // width: 1720px;
    // overflow: scroll;
    // padding: 40px 0;
  }
  &__item {
    width: calc(25% - 30px);
    margin: 0 15px 30px;
    height: 100vh;
    min-height: 300px;
    max-height: 200px;
    background: #000;
    background: linear-gradient(0deg, #232323, #3e3e3e);
    padding: 3%;
    display: flex;
    align-items: center;
    border: 0;
    transition: all .15s ease-in-out;
    position: relative;
    overflow: hidden;
    display: inline-block;
    float: left;
    &.tocom {
      background: #0b4932;
      background: linear-gradient(0deg, #0b4932, #17a96a);
    }
    &.amazon {
      background: #3aacd1;
      background: linear-gradient(0deg, #242f3e, #3c73bd);
    }
    &.hbo {
      background: #fff;
    }
    &.globoplay {
      background: #f91817;
      img {
        filter: brightness(20);
      }
    }

    p {
      position: absolute;
      bottom: -10px;
      left: 0;
      background: linear-gradient(0deg, #54545452, transparent);
      text-shadow: rgba(40, 43, 52, 0.3) 0 0 2px;
      font-weight: 700;
      margin: 0;
      padding: 10px;
      width: 94%;
      height: 30px;
      color: white;
      font-size: 15px;
      font-size: 1rem;
      text-transform: uppercase;
      line-height: 30px;
      opacity: 0;
      transition: all .15s ease-in-out;
      transform: scale(1, 0);
    }

    &:hover {
      outline: 0;
      box-shadow: rgba(0, 0, 0, 0.5) 0 0 30px;
      transform: scale(1.1);
      z-index: 10;

      p {
        opacity: 1;
        bottom: 0;
        transform: scale(1);
      }
    }
    &:focus {
      outline: 0;
    }
  }
  &__logo {
    width: 100%;
  }
}